{{ $allCollections := where .Site.RegularPages "Section" "collections" }}
{{ $selectedCollections := sort (where $allCollections "Params.id" .Params.collection ) "Title" }}

{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<section class="Layout-body">
	<article class="Single">
		{{ if .Params.gallery }}
		<aside>
			{{ partial "image-gallery" .Params.gallery }}
		</aside>
		{{ else }}
		<aside class="Grid">
			<article class="Grid-item">
				<img src="{{ .Params.image }}" loading="lazy"/>
			</article>
		</aside>
		{{end}}

		<div class="Container">
			<h3 class="Title">
				<a href="{{ .Permalink }}">
					{{ .Page.Title }}
				</a>
			</h3>
		</div>

		<div class="Section Container">
			<main class="Content">
				{{ .Page.Content}}
			</main>
		</div>

		{{ $sizes := .Params.sizes }}
		{{ if $sizes }}
		<div class="Section Container">
			<span>\ Sizes:</span>
			{{ range $index, $value := .Params.sizes }}
			{{ $value | upper }}
			{{ if (not (eq $index (sub (len $sizes) 1))) }},{{ end }}
			{{ end }}
		</div>
		{{ end }}

		{{ if .Params.price }}
		<div class="Section Container">
			<span>\ Price:</span>
			{{ .Params.price }} € {{ with .Params.sold_out}}<span class="Article-soldOut">/ Sold Out</span>{{ end }}
		</div>
		{{ end }}

		<div class="Section Container">
			<span>\ Collection:</span>
			{{ range $selectedCollections }}
			<span>
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
			</span>
			{{ end }}
		</div>

		{{ if (and .Params.paypal .Params.has_stock) }}
		<div class="Section Container">
			{{ partial "paypal-buy-button" .Params.paypal }}
		</div>
		{{ end }}
	</article>
</section>

{{ partial "htmlclose" }}
