<!doctype html>
<html>
	<head>
		<title>{{ if .IsHome}}{{ .Site.Title }}{{else}}{{ .Title }} | {{ .Site.Title }}{{end}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		{{ with .GitInfo }}
		<meta name="git-commit" content="{{ .AbbreviatedHash }}">
		{{ end }}
		<link rel="stylesheet" href="{{"styles.css" | relURL}}">
		<link rel="stylesheet" href="{{"custom.css" | relURL}}">

		<!-- So a theme user can add custom head -->
		{{ partial "custom-head" . }}
	</head>

	<body class="Layout {{ if .Page.IsHome }}Layout--home{{ end }}">
