{{ $url := (or .Permalink .URL )}}
{{ $path :=	 (split $url "/")}}
{{ $folder := index $path 3}}

<nav class="Nav Nav--main">
	<a href="/" class='Nav-item {{ if (or (eq $url "/") (eq $folder "")) }}is-active{{ end }}'>Collections</a>
	<a href="/articles" class='Nav-item {{ if eq $folder "articles" }}is-active{{ end }}'>Articles</a>
	<a href="/projects" class='Nav-item {{ if eq $folder "projects" }}is-active{{ end }}'>Projects</a>
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
	<a href="{{ .URL }}" title="{{ .Title }}" class="Nav-item {{ if $currentPage.IsMenuCurrent "main" . }}is-active{{ end }}">{{ .Name }}</a>
	{{ end }}
</nav>
