{{ partial "htmlopen" . }}

{{ partial "siteheader" . }}

<main class="Layout-home">
	<div class="Screen Screen--fixed">
		{{ if $.Site.Data.homepage.radio4000_slug }}
		{{ partial "widget-radio4000" $.Site.Data.homepage.radio4000_slug }}
		{{ else }}
		{{ if $.Site.Data.homepage.video }}
		{{ partial "widget-youtube" $.Site.Data.homepage.video }}
		{{ else }}
		{{ if $.Site.Data.homepage $.Site.Data.homepage.gallery ( len $.Site.Data.homepage.gallery) }}
		{{ partial "image-gallery-home" $.Site.Data.homepage.gallery }}
		{{ else }}
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
</main>

{{ partial "htmlclose" }}
