{{ partial "htmlopen" . }}
{{ partial "siteheader" . }}

<section class="Layout-body">
	<article class="Single">
		{{ if .Params.gallery }}
		<aside>
			{{ partial "image-gallery" .Params.gallery }}
		</aside>
		{{ end }}

		<div class="Container">
			<h3 class="Title">
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
			</h3>
		</div>

		<main class="Content Container">
			{{ .Page.Content}}
		</main>
	</article>
</section>

{{ partial "htmlclose" }}
